/* Webfont: TBIGUT */@font-face {
    font-family: 'TBIGUT';
    src: url('TBIGUT.eot'); /* IE9 Compat Modes */
    src: url('TBIGUT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('TBIGUT.woff') format('woff'), /* Modern Browsers */
         url('TBIGUT.woff2') format('woff2'), /* Modern Browsers */
         url('TBIGUT.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

